<html lang="en">
    <%- include('partials/head') %>
    <body>
        <%- include('partials/navbar') %>
        <h1>I'm sorry, its not found</h1>
        <%- include('partials/footer') %>
    </body>
</html>
